.vs

src/DefeatYourOpponent.UI/bin/
src/DefeatYourOpponent.UI/obj/
src/DefeatYourOpponent.UI/Properties/PublishProfiles/FolderProfile.pubxml
src/DefeatYourOpponent.Domain/obj/
src/DefeatYourOpponent.Domain/bin/
src/DefeatYourOpponent.Infrastructure/obj/
src/DefeatYourOpponent.Infrastructure/bin/