.vs
RiotApiController/RiotApiController.Api/bin/
RiotApiController/RiotApiController.Api/obj/
RiotApiController/RiotApiController.Api/Properties/PublishProfiles/FolderProfile.pubxml
RiotApiController/RiotApiController.Domain/obj/
RiotApiController/RiotApiController.Domain/bin/
RiotApiController/RiotApiController.Infrastructure/obj/
RiotApiController/RiotApiController.Infrastructure/bin/

DefeatYourOpponent/DefeatYourOpponent.UI/bin/
DefeatYourOpponent/DefeatYourOpponent.UI/obj/
DefeatYourOpponent/DefeatYourOpponent.UI/Properties/PublishProfiles/FolderProfile.pubxml
DefeatYourOpponent/DefeatYourOpponent.Domain/obj/
DefeatYourOpponent/DefeatYourOpponent.Domain/bin/
DefeatYourOpponent/DefeatYourOpponent.Infrastructure/obj/
DefeatYourOpponent/DefeatYourOpponent.Infrastructure/bin/