@page "/"

<div class="text-center" style="height:80vh; position:relative; top:20%;">
    <img class="mb-3" src=@ComponentUtility.GetTitleImagePath() width="900">
    <SerchForm />
</div>

@code {

}
